    * {
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
    }

    .color-bar {
        background-color: #bf0067;
        height: 15px;
        transition: all .2s ease;
    }

    .collapse>.container {
        display: flex;
        justify-content: flex-end;
    }

    .bg-light {
        background-color: white !important;
    }

    .navbar-brand {
        color: #bf0067 !important;
        position: absolute;
        display: block;
        height: 120px;
        width: 250px;
        line-height: 110px;
        margin: 0 auto;
        text-align: center;
        left: inherit;
        background-color: white;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
        z-index: 100;
        transition: all .2s ease;
    }

    .navbar li {
        font-weight: bold;
        padding: 15px;
        text-transform: uppercase;
    }

    .navbar li a {
        color: aqua;
    }

    .carousel {
        background-color: black;
    }

    .carousel-inner img {
        opacity: .2;
    }

    .carousel-caption {
        height: 65%;
        text-align: left;
    }

    .btn-outline-secondary {
        color: white;
        border-color: white;
    }

    .btn-outline-secondary:hover {
        background-color: #bf0067;
        border-color: #bf0067;
        cursor: pointer;
    }

    .carousel~.color-bar,
    section~.color-bar {
        height: 4px;
    }

    .price-list-main .price-list-main-buttons {
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }

    .price-list-main-buttons button {
        margin: 10px;
    }

    .price-list-main .btn-outline-primary {
        color: #bf0067;
        border-color: #bf0067;
    }

    .price-list-main .btn-outline-primary:hover {
        background-color: #bf0067;
        color: white;
        cursor: pointer;
    }

    .price-list-main-buttons .active {
        background-color: #bf0067;
        color: white;
    }

    .price-list {
        padding: 15px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: auto;
    }

    .section-title {
        text-align: center;
        padding: 70px 0 50px 0;
    }

    .price-list a {
        color: #747474;
        border-bottom: 2px dashed #e5e5e5;
        padding: 25px;
        font-weight: 900;
        text-decoration: none;
    }

    .price-list span {
        position: absolute;
        right: 40px;
    }

    .price-list a:last-child {
        border-bottom: none;
    }

    .price-list a:hover {
        color: #bf0067;
    }

    .price-list .active {
        color: #bf0067;
        background-color: transparent;
    }

    .tab-pane>.container {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .tab-pane .tab-content {
        margin-left: 20px;
    }

    .img-thumbnail {
        border: none;
        padding: 0;
        border-radius: 0;
    }

    .tab-pane h2 {
        color: #333;
        padding: 15px 0;
        margin: 0;
    }

    .tab-pane h6 {
        color: #bf0067;
        padding: 15px 0;
    }

    .tab-pane p {
        color: #333;
        text-align: justify;
        padding: 15px 0;
    }

    .team-section {
        background-color: lightgray;
        background-image: url("../img/brickwall.png");
        /*This pattern is downloaded from www.subtlepatterns.com*/
        background-attachment: fixed;
    }

    .team-member {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }

    .team-describe-left {
        width: 70%;
        padding: 35px;
        padding-right: 95px;
        background-color: white;
        box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
        z-index: 0;
        position: relative;
        left: 65px;
    }

    .team-describe-left h5 {
        padding-top: 15px;
        padding-right: 70px;
        text-align: justify;
    }

    .team-describe-left h6 {
        padding-top: 10px;
        color: #bf0067;
    }

    .img-team-right {
        border: 4px solid #bf0067;
        border-radius: 50%;
        height: 250px;
        width: 250px;
        box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        left: -65px;
    }

    .team-describe-right {
        width: 70%;
        padding: 35px;
        padding-left: 80px;
        background-color: white;
        box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
        z-index: 0;
        position: relative;
        left: -65px;
    }

    .team-describe-right h3 {
        padding-left: 85px;
    }

    .team-describe-right h5 {
        padding-top: 15px;
        padding-left: 85px;
        text-align: justify;
    }

    .team-describe-right h6 {
        padding-top: 10px;
        padding-left: 85px;
        color: #bf0067;
    }

    .img-team-left {
        border: 4px solid #bf0067;
        border-radius: 50%;
        height: 250px;
        width: 250px;
        box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
        z-index: 10;
        position: relative;
        left: 65px;
    }

    footer {
        background-color: #444;
        height: 100px;
    }

#contact .container{
    margin-bottom: 50px;
}

.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.contact h4{
    color: #bf0067;
}


#map {
   width: 80%;
   height: 250px;
   background-color: grey;
 }

    @media(max-width: 992px) {
        .navbar-brand {
            width: 200px;
        }
        .navbar li {
            padding: 5px;
            text-transform: uppercase;
        }
    }

    @media(max-width: 768px) {
        .navbar-brand {
            position: static;
            display: block;
            height: 40px;
            width: 180px;
            line-height: 30px;
            margin: 0;
            text-align: center;
            left: inherit;
            background-color: white;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.0);
            z-index: 100;
        }
        .collapse>.container {
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .color-bar {
            background-color: #bf0067;
            height: 0px;
        }
    }
